<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Feature form</title>
</head>
<body style="text-align: center;">
  <p><strong>Home</strong></p>
  <h1>Feature To Stories</h1>
  <form action="/stories" method="post" id="ticket" 
  style="display: flex; flex-direction: column; min-height: 80vh; align-items: center; justify-content: space-evenly;">
    <h2>Describe the feature</h2>
    <textarea placeholder="The feature is..." form="ticket" name="feature" style="width: 80vw; height: 50vh;"></textarea>
    <button type="submit" form="ticket" style="cursor: pointer;">Create</button>
  </form>
</body>
</html>